@{
}

@if (this.User.Identity.IsAuthenticated)
{
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
      <img src="~/assets/images/policeman.png" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
      <a asp-area="Administration" asp-controller="Home" asp-action="ChangePassword" class="d-block">Administrator</a>
    </div>
  </div>
}