<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] Bug Jar Admin</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" asp-append-version="true">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css" asp-append-version="true"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" asp-append-version="true" />

    <link rel="stylesheet" href="~/assets/plugins/Admin/dist/css/adminlte.min.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/assets/plugins/Admin/plugins/toastr/toastr.min.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/assets/plugins/Admin/plugins/toastr/toastr.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/assets/css/AdminStyles.css" asp-append-version="true" />

    @await RenderSectionAsync("Head", false)
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <partial name="_TopNavigationPartial"/>

        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a asp-area="Administration" asp-controller="Home" asp-action="Index" class="brand-link">
                <img src="~/assets/images/Jar2.1.png" alt="BugJar Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Bug Jar Admin</span>
            </a>

            <div class="sidebar">
                <partial name="_LoginPartial" />
                <partial name="_MainMenu" />
            </div>
        </aside>

        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">@ViewData["Title"]</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>
        <footer class="main-footer">
            <div class="float-right d-none d-sm-inline">
                Manage your workflow
            </div>
            <strong>Copyright &copy; @DateTime.Now.Year <a href="/">Bug Jar</a>.</strong> All rights reserved.
        </footer>
    </div>

    <script src="~/assets/plugins/Admin/plugins/jquery/jquery.min.js" asp-append-version="true"></script>

    <script src="~/assets/plugins/Admin/plugins/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>

    <script src="~/assets/plugins/Admin/dist/js/adminlte.min.js" asp-append-version="true"></script>

    <script src="~/assets/plugins/Admin/plugins/toastr/toastr.min.js" asp-append-version="true"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>

    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>

    <script src="~/assets/js/IssueSystem.js" asp-append-version="true"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js" asp-append-version="true"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta2/dist/js/i18n/defaults-*.min.js" asp-append-version="true"></script>*@

    <partial name="_UserMessages" />

    @await RenderSectionAsync("Scripts", false)
</body>
</html>

