@{
}
<footer class="main-footer text-center text-white">
    <div class="row">
        <div class="col">
            <strong> Copyright &copy; <b style="color: #fff2a8;">@DateTime.Now.Year</b></strong> All rights reserved.
        </div>
        <div class="col-12">
            <div class="float-right d-none d-sm-inline-block">
                <b> Design: <a rel="nofollow noopener" href="https://kristiyan-enchev-website.web.app" class="tm-footer-link" style="color:#F5A623"> Kristiyan Enchev</a></b>
            </div>

        </div>
    </div>
</footer>