@model ResponseImageViewModel
@{
}

<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
   aria-haspopup="true" aria-expanded="false">
    @if (@Model != null)
    {
        <img class="header__avatar" style="width:40px;height:40px; object-fit:cover; border-radius:30px"
         src="data:image/*;base64,@(Convert.ToBase64String(@Model.Content))">
    }
    else
    {
        <img class="header__avatar" id="profilePicture" src="~/assets/images/Portrait_Placeholder.png"
         object-fit:cover" src="">
    }
</a>
@section Scripts {

<script>
    $(#navbarDropdown).load("@Url.Action("GetImage", "Profile", new ResponseImageViewModel())")
</script>
}