<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"]@GlobalConstants.IssueSystemName</title>

    <script src="https://kit.fontawesome.com/eedcfd73b3.js" crossorigin="anonymous"></script>

    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css" asp-append-version="true"/>*@

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/assets/plugins/Admin/plugins/toastr/toastr.min.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/assets/plugins/Admin/plugins/toastr/toastr.css" asp-append-version="true" />

    @*<link rel="stylesheet" href="~/assets/plugins/ExternalAssets/css/fontawesome.min.css" asp-append-version="true" />*@

    <link rel="stylesheet" href="~/assets/plugins/ExternalAssets/css/templatemo-style.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/assets/css/mainStyle.css" asp-append-version="true" />

    @await RenderSectionAsync("Head", false)

</head>
<body id="body">

    <div class="loader-wrapper">
      <span class="loader"><span class="loader-inner"></span></span>
    </div>


    <div class="container">
        <main role="main" class="pb-3">
    <partial name="_NavBar"/>
            @RenderBody()
        </main>
    </div>

    <partial name="_Footer_"/>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>*@

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>

    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>

    <script src="~/assets/plugins/ExternalAssets/js/bootstrap.min.js" asp-append-version="true"></script>

    <script src="~/assets/plugins/Admin/plugins/toastr/toastr.min.js" asp-append-version="true"></script>

    @*<script src="~/assets/plugins/ExternalAssets/js/tooplate-scripts.js" asp-append-version="true"></script>*@

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js" asp-append-version="true"></script>*@

    <script src="~/assets/js/IssueSystem.js" asp-append-version="true"></script>

    <partial name="_UserMessages" />

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
