@model MissingModel
@{
}

<div class="text-center">
    <h3 class="text-center text-light">There is no @Model.Word currently</h3>
    <img src="/assets/images/3024051.jpg" style="width: 600px; height: 280px; border-radius: 5rem;" alt="No Content in here"
         class="mx-auto d-block img-fluid" />
</div>