@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

 <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-12 mx-auto tm-login-col">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12 text-center">
                <h2 class="tm-block-title mb-4">Forgot Your Password ? </h2>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <form id="account" method="post" class="tm-login-form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                  <div class="form-group">
                    <input asp-for="Input.Email" id="username" class="form-control validate" autocomplete="username" aria-required="true" placeholder="Email address" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                  </div>
                    <div class="d-grid">
                        <button id="login-submit" type="submit" class="btn btn-primary btn-block text-uppercase">Send Email</button>
                    </div>

                    <div class="text-center pt-3">
                        <p>
                          <a class="mt-5 btn btn-primary btn-block text-uppercase" href="~/identity/account/login">Login</a>
                          <a class="mt-5 btn btn-primary btn-block text-uppercase" href="~/identity/account/register">Register</a>
                        </p>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
