@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

 <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-12 mx-auto tm-login-col">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12 text-center">
                <h2 class="tm-block-title mb-4">Your Passwor Have Been Reset</h2>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                    <h5 class="text-light text-center">Please check your email to reset your password.</h5>   
                    <img src="/assets/images/successChangePassword-removebg-preview.png" style="width: 200px; height: 150px;" alt="Ops ... You did somthing wrong"
                    class="mx-auto d-block img-fluid notFound" />
              </div>
            </div>
              <div class="row">
              <div class="col-12 text-center pt-3">
                <h2 class="text-center text-light">You can get back to our </h2>
                <a class="mt-5 btn btn-primary btn-block text-uppercase" href="~/../Home/Index"> Home Page
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>