@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="row text-center">
    <partial name="_StatusMessage" for="StatusMessage" />
</div>

 <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-12 mx-auto tm-login-col">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12 text-center">
                <h2 class="tm-block-title mb-4">Change Password</h2>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <form id="account" method="post" class="tm-login-form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                  <div class="form-group">
                        <input asp-for="Input.OldPassword" class="form-control validate" autocomplete="current-password" placeholder="Current Password" aria-required="true" />
                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                  </div>
                  <div class="form-group">
                        <input asp-for="Input.NewPassword" class="form-control validate" autocomplete="new-password" placeholder="New Password" aria-required="true" />
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                  </div>
                  <div class="form-group mt-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control validate" autocomplete="new-password" placeholder="Confirm Password" aria-required="true" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                  </div>

                    <div class="d-grid">
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Update password</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}