@{
}
<section class="page-title">
    <div class="page-title-img bg-img bg-overlay-darken">
        <div class="container">
            <div class="row align-items-center justify-content-center height100px">
                <div class="col-lg-8">
                    <div class="page-title-content">
                        <div class="title-border">
                            <h1 class="text-white text-uppercase font-weight-bold">Admin Panel</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="row mb-3 mt-5">
    <div class="col-sm-6 col-md-6 info-box bg-light">
        <figure class="">
            <blockquote class="blockquote">
                <h3 class="tm-block-title text-center">
                    Hello and Welcome to the
                    <strong style="color:#F5A623"> Admin Panel</strong> in the  <strong style="color:#F5A623"> Bug Jar</strong>
                    Demo project, created for learning purposes.
                </h3>
            </blockquote>
            <h2 class="tm-block-title" style="text-align: center;">Features</h2>
            <figcaption class="blockquote-footer">
                Receive and Edit Personal Data about all Users
            </figcaption>
            <figcaption class="blockquote-footer">
                Assigne and Create roles, departments and projects to User
            </figcaption>
            <figcaption class="blockquote-footer">
               Create , Edit Department Add Project to department
            </figcaption>
            <figcaption class="blockquote-footer">
                Receive information about Projects there tickets and employees
            </figcaption>
            <figcaption class="blockquote-footer">
                 Receive information about Tickets
            </figcaption>
            <figcaption class="blockquote-footer">
                Create and accept tickets, write comments on them for faster resolving the issues
            </figcaption>
             <figcaption class="blockquote-footer">
               Create comment
            </figcaption>
            <figcaption class="blockquote-footer">
                Receive reports about comments
            </figcaption>
        </figure>
    </div>
    <div class="col-sm-6 col-md-6">
        <img class="img-fluid" src="/assets/images/guard.png" alt="Photo">
    </div>
</div>