@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

body {
    font-family: 'Poppins', sans-serif
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    color: #212529;
    background-color: #4E657A;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    background-image: url(/assets/images/clouds1.png);
    background-color: #26292E;
}

.tm-bg-primary-dark {
    /*background-color: #Fff;*/
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 400;
    line-height: 1.2;
}

h1, .h1 {
    font-size: calc(1.31313rem + 0.7575vw);
}

@media (min-width: 1200px) {
    h1, .h1 {
        font-size: 1.88125rem;
    }
}

h2, .h2 {
    font-size: calc(1.28775rem + 0.453vw);
}

@media (min-width: 1200px) {
    h2, .h2 {
        font-size: 1.6275rem;
    }
}

h3, .h3 {
    font-size: calc(1.25013rem + 0.0015vw);
}

@media (min-width: 1200px) {
    h3, .h3 {
        font-size: 1.25125rem;
    }
}

h4, .h4 {
    font-size: 1.12875rem;
}

h5, .h5 {
    font-size: 1.00625rem;
}

h6, .h6 {
    font-size: 0.875rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.text-danger {
    background-color: #242f3f;
}

/*Loading Screen */

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

.nav-link:focus, .nav-link:hover {
    color: white;
}

/*   Logo   */
.logo img {
    float: left;
    width: 100px;
    height: 100px;
}

.logo {
    width: 100%;
    max-width: 400px;
    height: auto;
}

/* Overide bootstrap placeholder style */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white !important;
    opacity: 1 !important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white !important;
}


/* page title section */
.page-title {
    padding-top: 10px;
    padding-bottom: 20px;
}

@media (min-width: 992px) {
    .page-title {
        padding-top: 0;
    }
}

.page-title .page-title-img {
    background-size: cover !important;
    background-position: center top !important;
    background-repeat: no-repeat;
    transition: all 0.3s linear;
    position: relative;
}

.page-title .page-title-content {
    text-align: center;
    position: relative;
}

    .page-title .page-title-content h2, .page-title .page-title-content .h2 {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 0;
        line-height: inherit;
    }

    .page-title .page-title-content p {
        font-size: 15px;
    }

.page-title .title-border {
    position: relative;
}

    .page-title .title-border h2, .page-title .title-border .h2 {
        margin-bottom: 23px;
    }

    .page-title .title-border::before {
        position: absolute;
        content: "";
        width: 60px;
        height: 3px;
        background-color: #fff;
        left: 50%;
        bottom: -12px;
        transform: translateX(-50%);
    }

.bg-overlay-darken:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Header Avatar */
.header__avatar {
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    position: relative;
    margin: 0 26px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

    .header__avatar:after {
        position: absolute;
        content: "";
        width: 6px;
        height: 6px;
        background: none;
        border-left: 2px solid #777;
        border-bottom: 2px solid #777;
        transform: rotate( -45deg ) translateY(-50%);
        top: 50%;
        right: -18px;
    }

@media only screen and (min-width: 46.875em) {
.header__avatar {
    width: 40px;
    height: 40px;
}
}

ul {
    display: block;
    list-style-type: disc;
    /*margin-block-start: 1em;*/
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.header__avatar {
    width: 50px;
    height: 50px;
}


/* Profile Upload Avatar */
.profile-pic-div {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
}

#photo {
    height: 100%;
    width: 100%;
}

#file {
    display: none;
}

#uploadBtn {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    display: none;
}

#photo {
    cursor: pointer;
}

.profile-pic-div{
    margin-top: 5rem;
}
.tm-block-title{
    padding-bottom: 0.5rem;
}

.row {
    --bs-gutter-x: 0rem;
}

.pad{
    padding-left: 0.5rem;
}

.form-control[readonly] {
    border: 0;
    font-size: 1em;
    background-color: #54657D;
}


/*  Overryde main Bootstrap buton style */
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #8064A2;
    border-color: #8064A2;
    outline: none !important;
    box-shadow: none !important;
    margin-top: 0.5rem;
}

.myBtn {
    background-color: #FFCA28;
    border-color: #FFCA28;
}

.myBtn:hover {
    background-color: #FFF176;
}

.btn {
    border-radius: 5rem;
}

.tm-block {
    border-radius: 5rem;
}

.form-control {
    border-radius: 5rem;
}

h1 {
    border-radius: 5rem;
}


/* More from My styles */
button:hover, a:hover {
    transform: scale(1.1);
    border-radius: 1rem;
}

.navbar-collapse {
   flex-grow: 0;
}

.dropdown-menu {
    border-radius: 2rem;
}

footer {
    background-color: transparent !important;
    padding: 0 0 1rem 0 !important;
    width: 100%;
    margin-top: 3rem;
}

.tm-block {
    /*opacity: 0.7;*/
    box-shadow: 20px 20px 50px 15px #777;
    max-height: 100%;
}


.navbar {
    background-color:transparent;
}

.moving-clouds {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 250.625em;
    height: 43.75em;
    -webkit-animation: cloudLoop 80s linear infinite;
    animation: cloudLoop 80s linear infinite;
}
@keyframes cloudLoop {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
}

.navbar-collapse {
   box-shadow:none;
}
.nav-link {
    border-radius: 5rem;
    margin-bottom:0.1rem;
}

/* Table style responsive*/
.table {
width: 100%;
border-collapse: collapse;
}

.table td, .table th {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
}

.table th {
    background-color: #212529;
    color: #ffffff;
}

.table tbody tr:nth-child(even) {
    background-color: #5b607d;
}

@media(max-width: 790px) {

    .table thead {
        display: none;
    }

    .table, .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }

    .table tr {
        margin-bottom: 15px;
    }

    .table td {
        text-align: right;
        text-align: right;
        position: relative;
    }

    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
}


.badge-danger {
    color: #fff;
    background-color: #dc3545;
}

.badge-info {
    color: #fff;
    background-color: #ffc107;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media (max-width: 1200px) {

    .btn-primary {
        font-size: 80%;
        margin-top: 0.5rem;
    }

    .header__avatar {
        margin: 0 0;
    }
}

@media (max-width: 990px) {
    .tm-block {
        max-height: none;
    }

    .btn-primary {
        font-size: 80%;
        margin-top: 0.5rem;
    }
}

@media (max-width: 790px) {
    .tm-block {
        padding: 0px;
        -webkit-box-shadow: 0px 0px 0px 0 #455c71;
        -moz-box-shadow: 0px 0px 0px 0 #455c71;
        box-shadow: 0px 0px 0px 0 #455c71;
        min-height: 0px;
        height: 0%;
        padding-right: 0.9rem;
        max-height: none;
    }

    .btn-primary {
        font-size: 80%;
        margin-top: 0.5rem;
    }

    .tm-product-name {
        font-size: 0rem;
    }

    .table td, .table th {
        border-top: 1px solid #415a70;
        page-break-inside: auto !important;
    }

    .table tr {
        margin-top: 0.9rem;
        border-top: 0.1rem solid #242f3f
    }

    .tm-product-table-container {
        max-height: 80%;
        margin-bottom: 15px;
        overflow-y: inherit;
    }
}

.depLabel {
    margin-left: 1rem;
    margin-right: 1rem;
}

.projectImg {
    border-radius: 6rem;
    padding-left: 2rem;
    max-width: 300px
}
.projectText {
    height: 150px;
    padding: 2rem;
    text-align: center;
}

.custom-table tbody .persons {
    padding: 0;
    margin: 0;
}

.custom-table tbody .persons li {
    padding: 0;
    margin: 0 0 0 -15px;
    list-style: none;
    display: inline-block;
}

.custom-table tbody .persons li {
    display: inline-block;
    width: 36px;
}

@media (max-width: 990px) {

    .long-table thead {
        display: none;
    }

    .long-table, .long-table tbody, .long-table tr, .long-table td {
        display: block;
        width: 100%;
    }

        .long-table tr {
            margin-bottom: 15px;
        }

        .long-table td {
            text-align: right;
            text-align: right;
            position: relative;
        }

            .long-table td::before {
                content: attr(data-label);
                position: absolute;
                left: 0;
                width: 50%;
                padding-left: 15px;
                font-size: 15px;
                font-weight: bold;
                text-align: left;
            }
}

.custom-select {
    padding: 0 0 0 1rem !important;
    border-radius: 5rem;
}

.myForm-control {
    display: block;
    width: 100%;
    /*padding: 0.375rem 0.75rem;*/
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #Fff;
    background-color: #54657D;
    /*background-clip: padding-box;*/
    /*border: 1px solid #ced4da;*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.user-block {
    padding: 0.9rem;
}
.avatar-name {
    text-decoration: none;
    color: #FFCA28
}
    .avatar-name:hover {
        color:#ff8b28
    }

.btn-accept {
    background-color:#3bd556;
    color:#fff;
}
    .btn-accept:hover {
        background-color: #66c877;
        color: #000000;
    }